In [1]:
import pandas as pd

In [48]:
fulldata=pd.read_csv('melb_data.csv')
fulldata.head()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [56]:
fulldata.shape

(18396, 22)

In [49]:
fulldata.columns=[col.replace(' ','_').lower() for col in fulldata.columns]

In [50]:
print(fulldata.columns)

Index(['unnamed:_0', 'suburb', 'address', 'rooms', 'type', 'price', 'method',
       'sellerg', 'date', 'distance', 'postcode', 'bedroom2', 'bathroom',
       'car', 'landsize', 'buildingarea', 'yearbuilt', 'councilarea',
       'lattitude', 'longtitude', 'regionname', 'propertycount'],
      dtype='object')

In [51]:
fulldata=fulldata.rename(columns={'unnamed:_0':'id'})

In [52]:
print(fulldata.columns)

Index(['id', 'suburb', 'address', 'rooms', 'type', 'price', 'method',
       'sellerg', 'date', 'distance', 'postcode', 'bedroom2', 'bathroom',
       'car', 'landsize', 'buildingarea', 'yearbuilt', 'councilarea',
       'lattitude', 'longtitude', 'regionname', 'propertycount'],
      dtype='object')

In [53]:
house_price=fulldata.price

In [54]:
house_price.head()

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: price, dtype: float64

In [58]:
address_price=fulldata[['address','price']]

In [59]:
address_price.head()

            address      price
0      85 Turner St  1480000.0
1   25 Bloomburg St  1035000.0
2      5 Charles St  1465000.0
3  40 Federation La   850000.0
4       55a Park St  1600000.0

In [60]:
fulldata.describe()

,id,rooms,price,distance,postcode,bedroom2,bathroom,car,landsize,buildingarea,yearbuilt,lattitude,longtitude,propertycount
count,18396.000000,18396.000000,1.839600e+04,18395.000000,18395.000000,14927.000000,14925.000000,14820.000000,13603.000000,7762.000000,8958.000000,15064.000000,15064.000000,18395.000000
mean,11826.787073,2.935040,1.056697e+06,10.389986,3107.140147,2.913043,1.538492,1.615520,558.116371,151.220219,1965.879996,-37.809849,144.996338,7517.975265
std,6800.710448,0.958202,6.419217e+05,6.009050,95.000995,0.964641,0.689311,0.955916,3987.326586,519.188596,37.013261,0.081152,0.106375,4488.416599
min,1.000000,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,5936.750000,2.000000,6.330000e+05,6.300000,3046.000000,2.000000,1.000000,1.000000,176.500000,93.000000,1950.000000,-37.858100,144.931193,4294.000000
50%,11820.500000,3.000000,8.800000e+05,9.700000,3085.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.803625,145.000920,6567.000000
75%,17734.250000,3.000000,1.302000e+06,13.300000,3149.000000,3.000000,2.000000,2.000000,651.000000,174.000000,2000.000000,-37.756270,145.060000,10331.000000
max,23546.000000,12.000000,9.000000e+06,48.100000,3978.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [62]:
address_price.describe()

              price
count  1.839600e+04
mean   1.056697e+06
std    6.419217e+05
min    8.500000e+04
25%    6.330000e+05
50%    8.800000e+05
75%    1.302000e+06
max    9.000000e+06

In [67]:
null_counts=fulldata.isnull().sum()
null_counts[null_counts>0].sort_values(ascending=True)

distance             1
postcode             1
regionname           1
propertycount        1
lattitude         3332
longtitude        3332
bedroom2          3469
bathroom          3471
car               3576
landsize          4793
councilarea       6163
yearbuilt         9438
buildingarea     10634
dtype: int64

In [66]:
print(null_counts)

id                   0
suburb               0
address              0
rooms                0
type                 0
price                0
method               0
sellerg              0
date                 0
distance             1
postcode             1
bedroom2          3469
bathroom          3471
car               3576
landsize          4793
buildingarea     10634
yearbuilt         9438
councilarea       6163
lattitude         3332
longtitude        3332
regionname           1
propertycount        1
dtype: int64

In [68]:
fulldata=fulldata.dropna(axis=0)

In [70]:
temp=fulldata.isnull().sum()

In [73]:
temp[temp>0].sort_values(ascending=False)

Series([], dtype: int64)

In [76]:
print(fulldata.columns)

Index(['id', 'suburb', 'address', 'rooms', 'type', 'price', 'method',
       'sellerg', 'date', 'distance', 'postcode', 'bedroom2', 'bathroom',
       'car', 'landsize', 'buildingarea', 'yearbuilt', 'councilarea',
       'lattitude', 'longtitude', 'regionname', 'propertycount'],
      dtype='object')

In [74]:
y=fulldata.price

In [77]:
predictors=['rooms','distance','bedroom2', 'landsize', 'yearbuilt', 
            'buildingarea','lattitude', 'longtitude']

In [78]:
X=fulldata[predictors]

In [79]:
print(X)

       rooms  distance  bedroom2  landsize  yearbuilt  buildingarea  \
1          2       2.5       2.0     156.0     1900.0         79.00
2          3       2.5       3.0     134.0     1900.0        150.00
4          4       2.5       3.0     120.0     2014.0        142.00
6          3       2.5       4.0     245.0     1910.0        210.00
7          2       2.5       2.0     256.0     1890.0        107.00
11         2       2.5       3.0     220.0     1900.0         75.00
16         3       2.5       3.0     214.0     2005.0        190.00
17         2       2.5       2.0       0.0     2009.0         94.00
22         2       2.5       2.0     238.0     1890.0         97.00
23         3       2.5       3.0     113.0     1880.0        110.00
25         3       2.5       2.0     138.0     1890.0        105.00
27         2       2.5       2.0     150.0     1985.0         73.00
28         4       2.5       4.0     780.0     1900.0        135.00
31         2       2.5       2.0       0.0     1970.0         60.00
32         2       2.5       2.0     124.0     2013.0        135.00
33         2       2.5       2.0     147.0     1900.0         85.00
37         3       2.5       3.0     166.0     2012.0        174.00
39         2       2.5       2.0      98.0     1920.0        128.00
44         3       2.5       3.0     168.0     1950.0        124.00
45         1       2.5       1.0       0.0     2013.0         50.00
46         2       2.5       2.0     162.0     1900.0         91.00
47         3       2.5       3.0     120.0     1998.0        128.00
48         2       2.5       2.0     182.0     1900.0         82.00
50         2       2.5       2.0     172.0     1930.0         81.00
52         3      13.5       3.0     303.0     2016.0        225.00
53         3      13.5       3.0       0.0     1965.0        145.00
54         3      13.5       3.0       0.0     1965.0        145.00
55         2      13.5       2.0     272.0     1950.0         84.00
56         3      13.5       3.0     239.0     2009.0        134.00
57         3      13.5       2.0     290.0     1980.0        116.00
...      ...       ...       ...       ...        ...           ...
15333      4      35.4       4.0     535.0     1970.0        199.00
15335      2       5.1       2.0     126.0     1890.0         65.00
15336      3       6.2       3.0     340.0     2000.0        135.00
15338      2       1.9       2.0      64.0     2000.0        112.00
15345      2       2.7       2.0       0.0     1965.0         64.00
15350      2       5.0       2.0       0.0     1930.0         82.00
15351      2      31.7       2.0     143.0     1999.0        112.00
15353      3      31.7       3.0     754.0     1985.0        131.00
15354      3      31.7       3.0     563.0     1994.0        150.00
15356      3      10.5       3.0     694.0     1950.0        113.60
15357      3      10.5       3.0    1143.0     1980.0        100.00
15358      3      10.5       3.0     672.0     1970.0        110.00
15360      3      18.0       3.0     662.0     2004.0        232.00
15363      3      12.4       3.0     779.0     1970.0        135.00
15364      6      12.4       6.0    1054.0     1970.0        235.00
15366      2      15.3       2.0     140.0     2010.0         78.00
15369      3       7.0       3.0     199.0     1999.0        140.00
15370      3      12.9       3.0     238.0     2011.0        118.00
15371      2      12.9       2.0       0.0     1980.0         66.32
15375      5      14.7       5.0     818.0     1985.0        255.00
15380      4      14.7       4.0     555.0     2002.0        237.00
15381      4      14.7       4.0     533.0     1980.0        170.00
15382      3      14.7       3.0     287.0     2013.0        137.00
15385      4      16.5       4.0     544.0     1997.0        264.00
15386      3      16.5       3.0     691.0     1975.0        177.00
15388      3      35.5       3.0     972.0     1996.0        149.00
15389      3       6.8       3.0     179.0     1890.0        115.00
15390      1       6.8       1.0       0.0     1967.0         35.64
15392      2       4.6       2.0       0.0     2012.0         61.60
15395      6       6.3       6.0    1087.0     1920.0        388.50

       lattitude  longtitude
1      -37.80790   144.99340
2      -37.80930   144.99440
4      -37.80720   144.99410
6      -37.80240   144.99930
7      -37.80600   144.99540
11     -37.80100   144.99890
16     -37.80850   144.99640
17     -37.80780   144.99650
22     -37.80900   144.99760
23     -37.80560   144.99300
25     -37.80210   144.99650
27     -37.80110   145.00040
28     -37.80730   144.99520
31     -37.80150   144.99720
32     -37.80790   144.99770
33     -37.80800   144.99400
37     -37.80170   145.00010
39     -37.80050   144.99520
44     -37.80070   144.99580
45     -37.80550   144.99610
46     -37.80160   144.99560
47     -37.80220   144.99540
48     -37.80210   144.99760
50     -37.80860   144.99460
52     -37.71800   144.87800
53     -37.72030   144.87550
54     -37.72030   144.87550
55     -37.72940   144.88800
56     -37.72180   144.88370
57     -37.72730   144.87440
...          ...         ...
15333  -38.09683   145.12981
15335  -37.80473   144.89095
15336  -37.83172   144.86683
15338  -37.83326   144.95464
15345  -37.84679   145.00206
15350  -37.85911   144.97900
15351  -37.57063   144.70693
15353  -37.58442   144.75565
15354  -37.57499   144.75329
15356  -37.78871   144.81369
15357  -37.79135   144.79948
15358  -37.80118   144.80996
15360  -37.70525   144.75699
15363  -37.76311   145.10494
15364  -37.77404   145.11703
15366  -37.68199   145.01744
15369  -37.75948   144.99615
15370  -37.70322   144.88236
15371  -37.69815   144.88019
15375  -37.87846   145.24212
15380  -37.89359   144.66911
15381  -37.89337   144.64003
15382  -37.87895   144.67070
15385  -37.67841   144.87924
15386  -37.68026   144.88468
15388  -37.51232   145.13282
15389  -37.86558   144.90474
15390  -37.85588   144.89936
15392  -37.85581   144.99025
15395  -37.81038   144.89389

[6196 rows x 8 columns]

In [81]:
from sklearn.tree import DecisionTreeRegressor

In [82]:
decision_model=DecisionTreeRegressor()

In [83]:
decision_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [84]:
X.head()

,rooms,distance,bedroom2,landsize,yearbuilt,buildingarea,lattitude,longtitude
1,2,2.5,2.0,156.0,1900.0,79.0,-37.8079,144.9934
2,3,2.5,3.0,134.0,1900.0,150.0,-37.8093,144.9944
4,4,2.5,3.0,120.0,2014.0,142.0,-37.8072,144.9941
6,3,2.5,4.0,245.0,1910.0,210.0,-37.8024,144.9993
7,2,2.5,2.0,256.0,1890.0,107.0,-37.8060,144.9954

In [87]:
decision_model.predict(X.head())

array([1035000., 1465000., 1600000., 1876000., 1636000.])

In [88]:
fulldata.head()

,id,suburb,address,rooms,type,price,method,sellerg,date,distance,...,bathroom,car,landsize,buildingarea,yearbuilt,councilarea,lattitude,longtitude,regionname,propertycount
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
6,11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0

In [89]:
y.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: price, dtype: float64

In [97]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [91]:
train_X,val_X,train_y,val_y=train_test_split(X,y,random_state=0)

In [92]:
model_decision=DecisionTreeRegressor()

In [93]:
model_decision.fit(train_X,train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [94]:
val_predict=model_decision.predict(val_X)

In [98]:
print(mean_absolute_error(val_y,val_predict))

247160.31375080696