# Accessing Data with Pandas

In [3]:
import pandas as pd
fulldata=pd.read_csv("parks.csv")

In [4]:
fulldata.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [6]:
fulldata.shape

(56, 6)

In [8]:
fulldata.iloc[2]

Park Code                      BADL
Park Name    Badlands National Park
State                            SD
Acres                        242756
Latitude                      43.75
Longitude                    -102.5
Name: 2, dtype: object

In [14]:
fulldata.iloc[['1','2','3']]

  Park Code               Park Name State   Acres  Latitude  Longitude
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25

In [20]:
fulldata[3:10]

,Park Code,Park Name,State,Acres,Latitude,Longitude
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18
7,CANY,Canyonlands National Park,UT,337598,38.20,-109.93
8,CARE,Capitol Reef National Park,UT,241904,38.20,-111.17
9,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44

In [23]:
fulldata['State'].head(4)

0    ME
1    UT
2    SD
3    TX
Name: State, dtype: object

In [25]:
fulldata.State.head(5)

0    ME
1    UT
2    SD
3    TX
4    FL
Name: State, dtype: object

In [27]:
fulldata['Park Code']

0     ACAD
1     ARCH
2     BADL
3     BIBE
4     BISC
5     BLCA
6     BRCA
7     CANY
8     CARE
9     CAVE
10    CHIS
11    CONG
12    CRLA
13    CUVA
14    DENA
15    DEVA
16    DRTO
17    EVER
18    GAAR
19    GLAC
20    GLBA
21    GRBA
22    GRCA
23    GRSA
24    GRSM
25    GRTE
26    GUMO
27    HALE
28    HAVO
29    HOSP
30    ISRO
31    JOTR
32    KATM
33    KEFJ
34    KOVA
35    LACL
36    LAVO
37    MACA
38    MEVE
39    MORA
40    NOCA
41    OLYM
42    PEFO
43    PINN
44    REDW
45    ROMO
46    SAGU
47    SEKI
48    SHEN
49    THRO
50    VOYA
51    WICA
52    WRST
53    YELL
54    YOSE
55    ZION
Name: Park Code, dtype: object

In [32]:
fulldata.columns=[cols.replace(" ","_").lower()  for cols in fulldata.columns]

In [33]:
fulldata.columns

Index(['park_code', 'park_name', 'state', 'acres', 'latitude', 'longitude'], dtype='object')

In [35]:
fulldata[['park_name','state']][:5]

                park_name state
0    Acadia National Park    ME
1    Arches National Park    UT
2  Badlands National Park    SD
3  Big Bend National Park    TX
4  Biscayne National Park    FL

In [41]:
fulldata.state.iloc[[2]]

2    SD
Name: state, dtype: object

In [45]:
fulldata[fulldata.state=='UT']

   park_code                   park_name state   acres  latitude  longitude
1       ARCH        Arches National Park    UT   76519     38.68    -109.57
6       BRCA  Bryce Canyon National Park    UT   35835     37.57    -112.18
7       CANY   Canyonlands National Park    UT  337598     38.20    -109.93
8       CARE  Capitol Reef National Park    UT  241904     38.20    -111.17
55      ZION          Zion National Park    UT  146598     37.30    -113.05

In [48]:
fulldata[(fulldata.latitude>60)|(fulldata.longitude>10*60)]

,park_code,park_name,state,acres,latitude,longitude
14,DENA,Denali National Park and Preserve,AK,3372402,63.33,-150.50
18,GAAR,Gates Of The Arctic National Park and Preserve,AK,7523898,67.78,-153.30
34,KOVA,Kobuk Valley National Park,AK,1750717,67.55,-159.28
35,LACL,Lake Clark National Park and Preserve,AK,2619733,60.97,-153.42
52,WRST,Wrangell - St Elias National Park and Preserve,AK,8323148,61.00,-142.00

In [52]:
fulldata[fulldata.state.isin(['WA'])]

   park_code                     park_name state   acres  latitude  longitude
39      MORA   Mount Rainier National Park    WA  235625     46.85    -121.75
40      NOCA  North Cascades National Park    WA  504781     48.70    -121.20
41      OLYM         Olympic National Park    WA  922651     47.97    -123.50