In [68]:
import pandas as pd

#To take care of missing data
from sklearn.preprocessing import Imputer

In [69]:
data=pd.read_csv('data/Data.csv')

In [70]:
#To print the dataset in jupyter notebook
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [71]:
X=data.iloc[:,:-1].values

In [72]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

Independent Variable--> Country,Age , Salary

Dependent Variable--> Purchased

We will use  Independent Variable to Predict Dependent Variable in Machine Learning.

In [73]:
imputer=Imputer(missing_values='NaN',strategy='mean',axis=0)

In [74]:
imputer=imputer.fit(X[:,1:3])

In [75]:
X[:,1:3]=imputer.transform(X[:,1:3])

In [76]:
age_average=data['Age'].mean()
salary_average=data['Salary'].mean()

In [77]:
data['Age']=data['Age'].fillna(age_average)
data['Salary']=data['Salary'].fillna(salary_average)

In [78]:
data

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

Country and Purchased are categorical Variable

Since Machine Learning model are mathematical, we cannot fit the text .

So we will convert the text into numeric.
http://queirozf.com/entries/one-hot-encoding-a-feature-on-a-pandas-dataframe-an-example

In [79]:
#Encoding Categorical Data

from sklearn.preprocessing import LabelEncoder,OneHotEncoder

labelencoder_data=LabelEncoder()

data['Country']=labelencoder_data.fit_transform(data['Country'])
data['Purchased']=labelencoder_data.fit_transform(data['Purchased'])

In [80]:
data

   Country        Age        Salary  Purchased
0        0  44.000000  72000.000000          0
1        2  27.000000  48000.000000          1
2        1  30.000000  54000.000000          0
3        2  38.000000  61000.000000          0
4        1  40.000000  63777.777778          1
5        0  35.000000  58000.000000          1
6        2  38.777778  52000.000000          0
7        0  48.000000  79000.000000          1
8        1  50.000000  83000.000000          0
9        0  37.000000  67000.000000          1

System will think Spain(0) is lesser than germany(2) , this might mislead the system.

Hence we should use Dummy Variable to prevent it.

In [81]:
onehot=OneHotEncoder(categorical_features=['Country'])

In [84]:
pd.get_dummies(da,prefix=['country'])

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 1. 2. 1. 0. 2. 0. 1. 0.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.